Service.Host/Service.Host/Service References/ServiceReference1/ObjectTransferService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://objecttransferservice.ru/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://objecttransferservice.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://objecttransferservice.ru/Imports">
      <xsd:import schemaLocation="http://localhost:13313/ObjectTransferService.svc?xsd=xsd0" namespace="http://objecttransferservice.ru/" />
      <xsd:import schemaLocation="http://localhost:13313/ObjectTransferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IObjectTransferService_CreateAccountingObject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountingObject" />
  </wsdl:message>
  <wsdl:message name="IObjectTransferService_CreateAccountingObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountingObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectTransferService_UpdateAccountingObject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountingObject" />
  </wsdl:message>
  <wsdl:message name="IObjectTransferService_UpdateAccountingObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountingObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IObjectTransferService_DeleteAccountingObject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountingObject" />
  </wsdl:message>
  <wsdl:message name="IObjectTransferService_DeleteAccountingObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountingObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IObjectTransferService">
    <wsdl:operation name="CreateAccountingObject">
      <wsdl:input wsaw:Action="http://objecttransferservice.ru/IObjectTransferService/CreateAccountingObject" message="tns:IObjectTransferService_CreateAccountingObject_InputMessage" />
      <wsdl:output wsaw:Action="http://objecttransferservice.ru/IObjectTransferService/CreateAccountingObjectResponse" message="tns:IObjectTransferService_CreateAccountingObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountingObject">
      <wsdl:input wsaw:Action="http://objecttransferservice.ru/IObjectTransferService/UpdateAccountingObject" message="tns:IObjectTransferService_UpdateAccountingObject_InputMessage" />
      <wsdl:output wsaw:Action="http://objecttransferservice.ru/IObjectTransferService/UpdateAccountingObjectResponse" message="tns:IObjectTransferService_UpdateAccountingObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountingObject">
      <wsdl:input wsaw:Action="http://objecttransferservice.ru/IObjectTransferService/DeleteAccountingObject" message="tns:IObjectTransferService_DeleteAccountingObject_InputMessage" />
      <wsdl:output wsaw:Action="http://objecttransferservice.ru/IObjectTransferService/DeleteAccountingObjectResponse" message="tns:IObjectTransferService_DeleteAccountingObject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>