Service.Host/Service.Host/Service References/ServiceReference1/ObjectTransferService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ObjectTransferWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ObjectTransferWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13313/ObjectTransferService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfMethodModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MethodModel" nillable="true" type="tns:MethodModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethodModel" nillable="true" type="tns:ArrayOfMethodModel" />
  <xs:complexType name="MethodModel">
    <xs:sequence>
      <xs:element name="Info" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="Params" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="Signature" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MethodModel" nillable="true" type="tns:MethodModel" />
</xs:schema>