Service.Host/Service.Host/Service References/ServiceReference1/ObjectTransferService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://objecttransferservice.ru/" elementFormDefault="qualified" targetNamespace="http://objecttransferservice.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CreateAccountingObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventaryNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postingDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deprecationDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountingObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountingObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountingObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldInventaryNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inventaryNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postingDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deprecationDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountingObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccountingObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountingObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inventaryNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountingObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAccountingObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>